<!--包含头部文件-->
{include file="public/header" /}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 监测仪器 <span class="c-gray en">&gt;</span> 仪器概况 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> <a class="btn btn-primary radius" onclick="o2o_edit('添加监测点','{:url('machine/add')}')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加监测点</a></span> <span class="r"></span> </div>

	<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span>所属城市：</label>
			<div class="formControls col-xs-8 col-sm-2"> 
				<span class="select-box">
				<select name="city_id" class="select cityId">
					<option value="0">--请选择--</option>
					{volist name="cities" id="vo"}
					<option value="{$vo.id}">{$vo.name}</option>
					{/volist}
				</select>
				</span>
			</div>
			<div class="formControls col-xs-8 col-sm-2">
				<span class="select-box">
				<select name="se_city_id" class="select se_city_id">
					<option value="0">--请选择--</option>
				</select>
				</span> 
			</div>
	</div>

	<!--<img style="margin:20px" width="500" height="400" src="{:url('index/index/map')}"/>-->
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="40"><input name="" type="checkbox" value=""></th>
					<th width="80">ID</th>
					<th width="100">机器名</th>
					<th width="30">经度</th>
					<th width="30">纬度</th>
					<th width="150">新增时间</th>
					<th width="60">状态</th>
					<th width="100">操作</th>
				</tr>
			</thead>
			<tbody>
				{volist name="machines" id="vo"}
				<tr class="text-c">
					<td><input name="" type="checkbox" value=""></td>
					<td>{$vo.id}</td>
					<td>{$vo.city_path."_".$vo.number}</td>
					<td class="text-c xpoint"><input size="7" attr-id="{$vo.id}" name="xpoint" value="{$vo.xpoint}"/></td>
					<td class="text-c ypoint"><input size="7" attr-id="{$vo.id}" name="ypoint" value="{$vo.ypoint}"/></td>
					<td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
					<td class="td-status"><a href="{:url('machine/status',['id'=>$vo.id,'status'=>$vo.status==1?0:1])}" title="点击修改状态">{$vo.status|status}</a></td>
					<td class="td-manage"><a style="text-decoration:none" class="ml-5" onClick="o2o_del('{:url('machine/status',['id'=>$vo.id,'status'=>'-1'])}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
				</tr>
				{/volist}
			</tbody>
		</table>
	</div>
</div>
{:pagination($machines)}
<!--包含头部文件-->
{include file="public/footer" /}
<script>
	var SCOPE = {
		'city_url':"{:url('api/City/getCitiesByParentId')}",
		'xypoint_url':"{:url('api/Machine/change')}",
	};
</script>
</body>
</html>
